body, html {
  height:100%;
}

#main {
  height:100%;
  overflow:auto;
  padding-top: 80px;
  padding-bottom: 80px;
}
#root {
  height:100%;
  overflow:auto;
}

.toggleButton {
  float: right;
  margin-top: 15px;
  z-index: 9999;
}
.navbar {
  min-height: 80px;
  background-color:#222229;
}

/* Links */
a:hover {
  text-decoration: none !important;
}
.active a {
  font-weight: bold;
}

/* Sidebar */
.container-fullsize {
  height:100%;
  overflow:auto;
}
.row-offcanvas {
  position: fixed;
  top: 0px;
  right: -220px;
  bottom: 0px;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  margin-top: 150px;
  margin-bottom: 150px;
  z-index: 5;
}
.row-offcanvas-right.active {
    right: 0;
}
  
@media (min-width: 768px) {
  #main {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .navbar {
    min-height: 120px;
  }
  .row-offcanvas {
    right: 0px;
  }
}

.messageForm {
  margin:0 auto; 
  width: 100%;
}

.messageForm .form-group {
  margin-bottom: auto;
}