/* .list-unstyled { */
  /* display: flex; */
  /* flex-direction: column;   */
  /* justify-content: center;  */
  /* align-items: center;      */
/* } */

.messageRow {
  min-height: 50px;
  max-width: 600px;
  text-align: left;
  border-bottom: 1px;
  margin-top: 20px;
}

.media-object {
  width:64px;
  height: 64px;
}

.messageUser {
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
}

.messageTime {
  font-size: 14px;
}
.messageText {
  padding-left: 20px;
  text-align: left;
  word-wrap: break-word;
  min-width: 300px;
  max-width: calc(100vw - 250px);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}