.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}


.changeNameModal {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}